body {
    opacity: 0;
    transition: opacity 0.5s;
    font-family: 'Consolas', sans-serif;
    background-color: #080808;
    color: #c2c2c2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}
  
#changingText {
    content: "|";
    display: inline-block;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}  

.snow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
  
.snowflake {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    animation: snowfall linear infinite;
}
  
@keyframes snowfall {
    to {
      transform: translateY(97vh);
    }
}

@keyframes switchColors {
    0% {
        background-position: 0% 100%;
        color: #e74c3c;
        text-shadow: 0 0 5px #e74c3c;
    }
    25% {
        background-position: 25% 0%;
        color: #2ecc71;
        text-shadow: 0 0 5px #2ecc71;
    }
    50% {
        background-position: 50% 100%;
        color: #ffffff;
        text-shadow: 0 0 5px #ffffff;
    }
    75% {
        background-position: 75% 0%;
        color: #2ecc71;
        text-shadow: 0 0 5px #2ecc71;
    }
    100% {
        background-position: 100% 100%;
        color: #e74c3c;
        text-shadow: 0 0 5px #e74c3c;
    }
}

@keyframes colorShiftUp {
    0%, 100% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 0% 10%;
    }
}

.main h1.title {
    transition: all 0.35s;
    font-size: 4rem;
    animation: switchColors 5s infinite, colorShiftUp 5s infinite;
    text-align: center;
}

.main h1.title:hover {
    animation: switchColors 5s infinite, colorShiftUp 5s infinite;
    transition: all 0.3s ease;
    text-align: center;
    transform: scale(1.15);
}

.main h1.title:active {
    animation: switchColors 5s infinite, colorShiftUp 5s infinite;
    transition: all 0.3s ease;
    text-align: center;
    transform: scale(0.85);
}


.box {
    position: relative;
    background-color: #11111177;
    border-radius: 13px;
    padding: 1px 0px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    max-width: 450px;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    backdrop-filter: blur(15px);
}

.disco {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.1s ease;
    background-color: #00000000;
    border: none;
}

.disco:active {
    transform: scale(1.5);
}

.info {
    overflow: hidden;
    text-align: center;
}

.info h2 {
    margin-bottom: 5px;
}

.info p {
    color: #ffffff9c;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.popup {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: fit-content;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    backdrop-filter: blur(10px);
  }

.button {
    width: 80%;
    padding: 10px;
    margin: 8px;
    background-color: #c2c2c2;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    box-shadow: 0px 0px 5px #c2c2c2;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
  }

  @keyframes switchColorsNW {
    0% {
        background: #e74c3c;
        text-shadow: 0 0 5px #e74c3c;
    }
    50% {
        background: #2ecc71;
        text-shadow: 0 0 5px #2ecc71;
    }
    100% {
        background: #e74c3c;
        text-shadow: 0 0 5px #e74c3c;
    }
}

.button:hover {
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    -webkit-text-fill-color: #fff;
    -moz-text-fill-color: #fff;
    animation: switchColorsNW 5s infinite, colorShiftUp 5s infinite;
    transform: scale(1.1);
  }

.button:active {
    transform: scale(0.7);
}

body::after {
    content: '';
    display: block;
    height: 50px;
  }
  
  #footer {
    color: inherit;
    text-decoration: none;
    position: fixed;
    cursor: default;
    bottom: 0;
    width: 100%;
    height: 22px;
    text-align: center;
    background-color: #09090977;
    z-index: 999;
}

@media only screen and (max-width: 768px) {
  .main h1.title {
      font-size: 3.0rem;
  }

  .info{
    font-size: 14px;
  }

  .box {
      max-width: 100%;
      border-radius: 0;
  }

  .popup {
      width: 90%;
  }
}